.timer-type-buttons-container {
  display: inline-flex;

  &__btn {
    border: none;
    margin: 0px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 12px;
    height: 20px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-weight: bold;
    }
  
  &__btn--active {
    @extend .timer-type-buttons-container__btn;
    background: none rgba(0, 0, 0, 0.15);
    transition: background 20ms ease-in-out;
  }
}