.action-button{
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 12px;
  height: 20px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;

}

.button-active {
  background: none rgba(0,0,0,0.15);
  transition: background 20ms ease-in-out;
}


.default {
  background-color: white;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  cursor: pointer;
  width: 200px;
  height: 55px;
  transition: color 0.5s ease-in-out 0s;

  &.pomodoro{
    color: rgb(217,85,80);
  }
  &.shortbreak{
    color: rgb(76, 145, 149);
  }
  &.longbreak{
    color: rgb(69, 124, 163);
  }

}



.button {} // BLOQUE
.button-sm {} // ELEMENTS
.button-lg {} // ELEMENTS
.button-md {} // ELEMENTS
.button-xl {} // ELEMENTS
.button-xl__outline {} // MODIFIER
.button-xl__filled {} // MODIFIER
.button-xl__active {} 

.button {
  width, height, border, font-size, border-radius
  
  &.-sm {}
  &.-md {}
  &.-xl {}

  &.__active {
    background_color: red
  }
  &.__outline {
    border: 2px solid yellow;
    background: none;
  }
  &.__disabled {
    background-color: gray;
  }
}