.task {
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 4px;;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    width: 460px;
    height: 62px;
}