.root-container {
  transition: background-color 0.5s ease-in-out 0s;
  height: 100vh;

  &__pomodoro {
    background-color: rgb(217, 85, 80);
  }

  &__shortbreak {
    background-color: rgb(76, 145, 149);
  }

  &__longbreak {
    background-color: rgb(69, 124, 163);
  }
}